body {
/*font family*/
/*p {
    font-family: Arial;
}*/
/*font size*/
h1 {
    /*font-family: Georgia;*/
    font-family: Indie Flower;
    /*added google fonts*/
    font-size: 200px;
}
body {
    font-size: 10px;
}
h1 {
    font-size: 5.0em;
}
p {
    font-family: Roboto;
    font-size: 2.0em;
}
span {
    font-size: 2.0em;
}
/*font weight*/
p {
    font-weight:bold;
    /*font weight depending on type can range by number - 100-800 - increasing by 100's*/
}

/*line height - multiplies by current line height*/
p {
    line-height:1.5;
}
/*text align - controls left, right, center*/
h1 {
    text-align: right;
}
p{
    text-align: center;
}

/*text decoration - underline, strike through, overline*/

p {
    text-decoration: underline;
}
h1 {
    text-decoration: line-through;
}